.forecast-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: url('../../utils/Images/weather-background-home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.forecast-page-container>h2 {
    text-transform: capitalize;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    color: transparent;
    font-size: 3rem;
}

.forecast-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    gap: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.day-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.day-card:hover {
    transform: scale(1.05);
}

.day-card>h3 {
    color: #0073e6;
    margin-bottom: 10px;
}


.day-card>p {
    color: #e63946;
}

.forecast-container>a {
    color: black;
    text-decoration: none;
    margin: 0;
}


.forecast-page-container > button {
    border: none;
    border-radius: 20px;
    padding: 16px 30px;
    cursor: pointer;
    filter: brightness(60%);
    transition: opacity 0.3s ease;
}

.forecast-page-container > button:hover {
    opacity: 0.7;
}

@media(max-width:450px) {
    .forecast-page-container>h2 {
        font-size: 20px;
    }
}

@media(max-width:280px) {
    .forecast-page-container>h2 {
        font-size: 16px;
    }
}